/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
db/health_accessories_inventory_system_02_09_2019.sql
db/*.png
db/*.jpg
db/*.log
db/.env
db/*.json
db/*.php
db/backup_for_khulna
db/*.xlsx
/nbproject/private/